<section class="three-column-overlay">
  <div class="three-column-background" style="background-image: url('{{ "/assets/images/banners/bamburgh-castle.jpg" | relative_url }}');"></div>
  <div class="three-column-content">
    <div class="column">
      <h3>Need help getting pregnant?</h3>
      <a href="{{ site.baseurl }}/where-to-start" | relative_url }}" class="cta-button">Where to start</a>
          </div>
    <div class="column">
      <h3>Considering freezing eggs or sperm?</h3>
      <a href="{{ site.baseurl }}/explore-your-options" | relative_url }}" class="cta-button">Explore your options</a>
    </div>
    <div class="column">
      <h3>I'd like a fertility assessment</h3>
      <a href="{{ site.baseurl }}/fertility-assessment" | relative_url }}" class="cta-button">Find out more</a>
    </div>
  </div>
</section>