<section class="treatments-section">
  <h2 style="text-align:center; font-size:2.5rem; margin-bottom:2rem">Treatment designed for you</h2>
  <div class="overlay">
    <div class="cards-container">
      <a href="{{ site.baseurl }}/treatments/#ivf--icsi" | relative_url  }} class="treatment-card">IVF & ICSI</a>
      <a href="{{ site.baseurl }}/treatments/#egg-freezing" | relative_url  }} class="treatment-card">Egg Freezing</a>
      <a href="{{ site.baseurl }}/treatments/#donor-treatments" | relative_url  }} class="treatment-card">Donor Treatments</a>
      <a href="{{ site.baseurl }}/treatments/#genetic-testing" | relative_url  }} class="treatment-card">Genetic Testing</a>
    </div>
  </div>
</section>