<section class="testimonials" style="background-image: url('{{ site.baseurl }}/assets/images/testamonials-background.jpg');">
  <div class="testimonial">
    &#11088;&#11088;&#11088;&#11088;&#11088;
    <br><br>
    <p>Dr Prior was great - he instantly put us at ease and was very easy to talk to. He listened, asked lots of questions and gave us just the right amount of information so that we feel well informed but not overwhelmed. We came away feeling much more positive and reassured. Thank you!</p>
  </div>

  <div class="testimonial">
    &#11088;&#11088;&#11088;&#11088;&#11088;
    <br><br>
    <p>Tailored approach with meaningful actions afterwards. Dr Prior made my partner and I feel very comfortable talking about sensitive topics. We have ended up with a clear plan of action which has been extremely reassuring. Thank you!</p>
  </div>
</section>
